.btn {
	width: 3.5rem;
	height: 3.5rem;
	border: 0 solid black;
	border-radius: 100%;
}

.calculator {
	background: black;
	font-size: 100%;
	color: white;
	padding: 3.5rem 0 0.6rem;
	font-size: 3rem;
	display: flex;
	flex-flow: column;
	max-width: 250px;
}

.calculator__screen {
	padding: 0.5rem 0.6rem 0;
}

.calculator__buttons {
	padding: 0.6rem;
}
